body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}

.jobs
{
  padding: 1.3rem;
  margin: .1rem;
  margin-left: 3.5rem;
  /* margin-right: 10px; */
  width: auto;
  margin-top: -.5rem;
}

.job
{
  color: #000000;
  font-size: 0.9rem;
}

.jobs1
{
  width: auto;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 3.5rem;
  margin-right: 10px;
}


h6{
  font-size: 12px;
}

.rating__star {
  cursor: pointer;
}


.circlesss {
  background-color: #68a6cc;
  border-radius: 40px;
  margin-left: 10px;
}

.circle-innersss {
color: rgb(217, 217, 217);
display: table-cell;
vertical-align: middle; 
text-align: center;
text-decoration: none;
font-weight: bold;
height: 25px;
width: 25px;  
font-size: 12px;
}

.sortable-chosen{
  box-shadow: 8px 8px 32px #E1E1E1;
}

.sortable-drag{
  opacity: 0;
}

/* STARTING HERE */

.topcard{
  padding: .6rem;
  width: 100%;
}

.card{
  min-width: 14rem;
  
}

.start1{
  display: flex;
  width: auto;
  margin-left: 3.5rem;
  margin-right: 10px;
}

.allcardstyles{
  display: flex;
  width: auto;
  /* justify-content: space-between; */
  padding: .6rem;
  margin-left: -.5rem;
  margin-left: 3.5rem;
  margin-right: 10px;
}

.texteditor{
  color: rgb(36, 21, 113);
  font-size: 13px;
}

.subtexteditor{
  font-weight: 600;
  font-size: 12px;
}

.reqnumber{
  float: right;
  font-size: 12px;
}

.alldowncards{
  margin: .5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding: 0px;
  width: 100%;
}

.footdesign{
  display: flex;
  justify-content: space-between;
}

.menudr{
  cursor: pointer;
}

.vjdstyle{
  display: none;
}

.addsmall1{
  display: none;
}


/* SIDEBAR */


/* NEW CSS */

#sidebar {
  background-color: #0a3456;
  width: 3.5rem;
  border-left: 5px solid rgb(126, 17, 17);
  height: 950px;
  position: fixed;
}
#sidebar a{

  color: aliceblue;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.dot{
display: flex; 
margin-top: 10px;   
}
.dot1{
  display: flex; 
  margin-left: -3px;   
  }
#jobicon{
  margin-left: 1px;
   
}
.tdot{
  margin-top: .91rem;
  margin-left: -4px;
  color: #747171;
}
.pull-left {
  justify-content: center;
  margin-left: 18px;
  margin-top: 10px;
}

.icon-headernav {
    color: #ffffff;
    
}

.gifts{
  font-size: 1rem;
  padding: .5rem;
}

.fullcontent{
  display: flex;
  height: 100%;
  justify-items: flex-start;
}

.icons{
  margin-left: 4rem;
  background-color: #5d1866;
  border-radius: 1.2rem .2rem 1.2rem 1.2rem;
  padding: .5rem;
  color: white;
}

.searchbar{
  width: 60%;
  margin-left: 4rem;
  padding-right: .6rem;
}

.addsmall{
  margin-left: -4rem;
  margin-right: 10px;
}
/* NEW CSS END */


/* MOB RESPOSE */

@media screen and (max-width: 800px) {
  .vjdstyle{
      min-width: 100%;
      margin-top: .5rem;
      display: block;
  }
  .fullstack{
      min-width: 100%;
  }
  .vjdstyle1{
      width: 100%;
      display: none;
  }
  .addsmall{
      display: none;
  }
  .addsmall1{
      display: block;
      display: flex;
      
  }

  .start1{
      display: flex;
      flex-direction: column;
  }

  .allcardstyles{
      display: flex;
      width: auto;
      /* justify-content: space-between; */
      padding: .6rem;
      margin-left: -.5rem;
      margin-left: 3.5rem;
      margin-right: 10px;
      flex-direction: column;
  }

}

@media screen and (max-width: 796px) {
  #logos{
      flex-direction: column;
  }

  #hellworld{
      margin-top: .7rem;
  }

  #formadd{
      height: 30px;
      font-size: 12px;
  }

  #addbtns{
      padding-left: 3rem;
      padding-right: 3rem;
  }
}
